.next-btn {
    width: 100px;
    height: 40px;
    margin: 1em;
    background: hsl(213, 96%, 18%);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    
}

.form-ctn {
    background: white;
    margin: 1em;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 90px;
}

form {
    padding: 2em 1.5em 2em 1.5em;
}

form h2 {
    padding-bottom: 0.5em;
}

form p {
    padding-bottom: 1.5em;
}

.input-ctn {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

input {
    height: 40px;
    border-radius: 5px;
    border: 2px solid lightgray;
    padding-left: 1em;
    font-weight: bold;
    color: rgb(247, 240, 240);
}

.btn-ctn {
    flex-direction: row-reverse;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: white;
    position: absolute;
    bottom: 0;
}