/* my-style.css */

:root {
    --mdc-theme-primary: #5f0ff3;
    --mdc-theme-secondary: #feeae6;
  }
  .MuiCheckbox-colorPrimary {
    color: rgb(255, 106, 0);
  }

.addOn-form {
    padding: 0;
    display: flex;
    align-items: center;
}

.addOn-item-ctn {
    border: 2px solid hsl(240, 3%, 71%);
    border-radius: 10px;
    margin-bottom: 0.75em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 0.5em 1em 0.5em;
}
.unchecked {
    font-size: 25px;
}
.checked {
   font-size: 25px;
   align-self: left;
   color: hsl(243, 100%, 62%) !important;
}

input:checked {
    color: hsl(243, 100%, 62%);
    background: hsl(243, 100%, 62%);
}

.addOn-text label {
    color: hsl(213, 96%, 18%);
    font-size: 16px;
    font-family: um;
}

.addOn-text p {
    color: hsl(240, 3%, 71%);
    padding-top: 0.2em;
    font-size: 14px;
}

.checkboxChecked {
    background: red;
}

.boxChecked {
    background: blue;
}