.form-ctn {
    background: white;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 90px;
    max-height: 400px;
    margin-bottom: 6.5em;
} 

.personal-info-title {
    font-family: um;
    font-size: 23px;
    padding: 0;
    letter-spacing: 1px;
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.personal-info-description {
    padding-bottom: 1.2em;
    color: hsl(240, 3%, 71%);
    margin-right: 40px;
    line-height: 1.4;
    font-size: 17px;
}

.input-ctn {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

label {
    font-size: 14px;
    padding-bottom: 0.2em;
}

input {
    height: 40px;
    border-radius: 8px;
    border: 1px solid hsl(240, 10%, 92%);
    padding-left: 1em;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

input:focus {
    border: 1px solid rgb(91, 36, 91) !important;
}

::placeholder {
    color: hsl(240, 3%, 71%);
    letter-spacing: 1px;
}

.btn-ctn {
    flex-direction: row-reverse;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: white;
    bottom: 0;
}

.info-submit-btn {
    font-family: ur;
    font-weight: lighter;
    padding: 0;
    width: 100px;
    height: 40px;
    margin: 1em;
    background: hsl(213, 96%, 18%);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.info-submit-btn:hover {
    background: hsl(213, 84%, 35%);
}
.btn-ctn a:nth-of-type(2){
    color: hsl(240, 3%, 71%);
    font-size: 16px;
}

a.go-back-btn:hover {
    color:hsl(213, 96%, 18%);
}

.error1, .error2, .error3 {
    font-size: 10px;
    position: absolute;
    color: red;
}
.error1 {
    left: 216px;
}

.error2 {
    left: 215px;
}

.error3 {
    left: 176px;
    white-space: nowrap;
}

@media screen and (min-width: 900px) {
    input {
        height: 43px;
    }
   
    #name-btn {
        position: absolute;
        width: 500px;
        background: white;
        bottom: 10px;
        right: 55px;
        margin: auto;
    }

    .personal-info-title {
        font-size: 29px;
        padding-bottom: 0.2em;
    }

    #info-description {
        font-size: 15px;
        width: 450px;
        padding-bottom: 2em;
    }

    form {
        width: 420px;
    }
    
    .form-ctn {
        position: relative;
        top: 10px;
        right: 45px;
        width: 350px;
    }
}