/* my-style.css */

:root {
    --mdc-theme-primary: #5f0ff3;
    --mdc-theme-secondary: #feeae6;
  }
  .MuiCheckbox-colorPrimary {
    color: rgb(255, 106, 0);
  }

  .addon-ctn {
    display: flex;
    flex-direction: column;
    padding: 1.3em;
    /* OLD CODE ABOVE */
    background: white;
    margin: 1em;
    margin-bottom: 7em;
    position: relative;
    bottom: 90px;

  }
 .addon-title {
    padding: 0.5em 0 0.5em 0;
}

.addon-description {
    color: hsl(240, 3%, 71%);
    padding-bottom: 1.5em;
    line-height: 1.5;
}

.addOn-form {
    padding: 0;
    display: flex;
    align-items: center;
}

.addOn-item-ctn {
    border: 2px solid hsl(240, 3%, 71%);
    border-radius: 10px;
    margin-bottom: 0.75em;
    display: flex;
    align-items: center;
    padding-top: 0.3em;
    height: 68px;
    padding-bottom: 0.3em;
}

div.addOn-text {
    padding-left: 1em;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.addOn-item-ctn h4 {
    font-size: 14px;
}

.addOn-text p {
    color: hsl(240, 3%, 71%);
    /* padding-top: 0.2em; */
    font-size: 13px;
    white-space: nowrap;
    padding-top: 0.2em;
}

.addOn-price {
    padding-right: 1.2em;
    font-size: 13px;
    margin-left: auto;
    color: hsl(243, 100%, 62%);
    position: relative;
    top: 2px;
}

#addon-btn {
    cursor: pointer;
}
#addon-btn:hover {
    background: hsl(213, 84%, 35%) !important;
}

a.go-back-btn:hover {
    color:hsl(213, 96%, 18%);
}

@media screen and (min-width: 900px) {
    .addon-ctn {
        position: relative;
        bottom: 10px;
        right: 30px;
    }
    .addon-ctn h2 {
        font-size: 29px;
        padding-bottom: 0;
    }
    
    .addOn-item-ctn {
        width: 425px;
        position: relative;
        right: 10px;
    }
    .addon-back-btn {
        position: relative;
        left: 15px;
    }

    #addon-btn {
        position: relative;
        bottom: 5px;
        right: 2px;
    }
    
}