@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: #262626;
}

.outter-ctn {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    background: hsl(217, 100%, 97%);
    width: 375px;
    position: relative;
}

@media screen and (min-width: 900px) {
    body {
        background: hsl(217, 100%, 97%);
    }
    
    .App {
        box-shadow: 5px 10px 18px #e7e6e6;
        display: flex;
        width: 840px;
        height: 515px;
        background: white;
        border-radius: 8px;
        padding: 0.6em;
        padding-left: 0;
    }
}